<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_ISupplierService" />
                <binding name="BasicHttpBinding_IWarehouseService" />
                <binding name="InsuranceDepartmentPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fastapps04.qut.edu.au/n8615136/CustomerService/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerService.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://fastapps04.qut.edu.au/n8615136/SupplierService/SupplierService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplierService"
                contract="SupplierService.ISupplierService" name="BasicHttpBinding_ISupplierService" />
            <endpoint address="http://fastapps04.qut.edu.au/n8615136/WarehouseService/WarehouseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehouseService"
                contract="WarehouseService.IWarehouseService" name="BasicHttpBinding_IWarehouseService" />
            <endpoint address="http://fastws.qut.edu.au:8080/InsuranceDepartment/InsuranceDepartment"
                binding="basicHttpBinding" bindingConfiguration="InsuranceDepartmentPortBinding"
                contract="InsuranceService.InsuranceDepartment" name="InsuranceDepartmentPort" />
        </client>
    </system.serviceModel>
</configuration>